.text-project{
    font-size: 45vw;
    top: 175%;
    pointer-events: none;
}

.text-project-two {
    font-size: 45vw;
    top: 295%;
    pointer-events: none;
}

@media screen and (max-width : 768px){
    .text-project{
        top: 205%;
    }
    
    .text-project-two {
        top: 290%;
    }
} 